<div class="app container">
  <div class="row" style="margin-top: 48px;">
    <div class="col">
      <div class="btn-toolbar justify-content-center" >
        <div class="card main_card">
          <div class="card-body">
            <h3 class="card-title main_card_title">Eradicate the virus with your click</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="virus" class="justify-content-center text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 271 281" width="271" height="281">
          <style>
            tspan { white-space:pre }
            .shp0 { fill: #dc8685 }
            .shp1 { fill: #01b08e }
            .shp2 { fill: #0f816c }
            .shp3 { fill: #05c8a2 }
            .shp4 { fill: #f5b2b2 }
          </style>
          <g id="g2728">
            <g id="Folder 2">
              <path id="path2740" fill-rule="evenodd" class="shp0" d="M254.9 58.14C261.53 66.87 259.82 79.32 251.08 85.95C246.68 89.28 241.34 90.51 236.28 89.78C229.6 88.82 223.5 90.4 218.12 94.48L203.61 105.48C199.05 108.94 190.99 98.15 195.47 94.75L209.98 83.75C215.36 79.67 218.52 74.23 219.41 67.53C220.08 62.46 222.7 57.65 227.1 54.31C235.83 47.69 248.28 49.4 254.9 58.14" />
              <path id="path2742" fill-rule="evenodd" class="shp0" d="M260.48 227.73C254.44 236.89 242.13 239.41 232.98 233.37C228.37 230.34 225.44 225.71 224.44 220.69C223.12 214.07 219.6 208.85 213.97 205.13L198.77 195.1C193.99 191.95 201.49 180.76 206.18 183.86L221.38 193.88C227.02 197.6 233.2 198.77 239.81 197.38C244.82 196.33 250.22 197.19 254.83 200.23C263.99 206.27 266.51 218.58 260.48 227.73" />
              <path id="path2744" fill-rule="evenodd" class="shp0" d="M18.56 232.52C12.16 223.61 14.2 211.21 23.11 204.82C27.6 201.6 32.96 200.51 38.01 201.37C44.66 202.5 50.8 201.09 56.28 197.15L71.07 186.53C75.72 183.19 83.5 194.19 78.93 197.47L64.14 208.09C58.65 212.03 55.35 217.39 54.29 224.05C53.49 229.11 50.75 233.85 46.26 237.07C37.36 243.46 24.95 241.43 18.56 232.52" />
              <path id="path2746" fill-rule="evenodd" class="shp0" d="M1.41 92.56C5.47 82.37 17.01 77.4 27.2 81.45C32.33 83.5 36.13 87.44 38.13 92.15C40.77 98.36 45.27 102.76 51.54 105.26L68.46 111.99C73.77 114.11 68.7 126.59 63.47 124.51L46.56 117.77C40.28 115.28 33.99 115.38 27.81 118.09C23.12 120.13 17.64 120.38 12.52 118.34C2.33 114.29 -2.64 102.74 1.41 92.56" />
              <path id="path2748" fill-rule="evenodd" class="shp0" d="M137.87 0C148.83 0 157.72 8.89 157.72 19.85C157.72 25.37 155.47 30.37 151.83 33.96C147.03 38.71 144.61 44.52 144.61 51.27L144.61 69.48C144.61 75.2 131.14 75.1 131.14 69.48L131.14 51.27C131.14 44.52 128.71 38.71 123.91 33.96C120.27 30.37 118.02 25.37 118.02 19.85C118.02 8.89 126.91 0 137.87 0" />
            </g>
            <path id="path2750" fill-rule="evenodd" class="shp1" d="M137.87 237.15C187.59 237.15 228.15 196.59 228.15 146.87C228.15 97.15 187.59 56.6 137.87 56.6C88.15 56.6 47.6 97.15 47.6 146.87C47.6 196.59 88.15 237.15 137.87 237.15Z" />
            <path id="path2752" fill-rule="evenodd" class="shp2" d="M203.65 85.05C218.84 101.21 228.14 122.95 228.14 146.87C228.14 196.73 187.73 237.15 137.87 237.15C102.41 237.15 71.73 216.69 56.96 186.95C73.43 204.46 96.81 215.4 122.75 215.4C172.6 215.4 213.02 174.99 213.02 125.13C213.02 110.73 209.65 97.13 203.65 85.05" />
            <path id="path2754" fill-rule="evenodd" class="shp3" d="M118.49 66.52C144.6 66.52 160.26 87.68 153.49 113.79C146.71 139.89 120.05 161.05 93.95 161.05C67.85 161.05 52.18 139.89 58.96 113.79C65.73 87.68 92.39 66.52 118.49 66.52" />
            <g id="Folder 1">
              <path id="path2756" fill-rule="evenodd" class="shp0" d="M69.96 31.92C79.53 26.57 91.62 29.99 96.98 39.56C99.67 44.37 100.14 49.83 98.72 54.75C96.85 61.23 97.6 67.47 100.87 73.38L107.03 84.55C109.79 89.56 97.99 96.05 95.27 91.13L89.11 79.96C85.85 74.04 80.86 70.18 74.36 68.38C69.43 67.01 65.02 63.75 62.32 58.93C56.97 49.37 60.39 37.27 69.96 31.92" />
              <path id="path2758" fill-rule="evenodd" class="shp0" d="M269.93 127.22C271.28 138.1 263.56 148.01 252.69 149.37C247.21 150.06 241.97 148.44 237.95 145.27C232.65 141.1 226.59 139.45 219.89 140.25L207.22 141.75C201.54 142.43 199.96 129.05 205.55 128.38L218.22 126.88C224.92 126.08 230.38 122.92 234.5 117.57C237.62 113.51 242.3 110.66 247.77 109.97C258.65 108.62 268.57 116.34 269.93 127.22Z" />
              <path id="path2760" fill-rule="evenodd" class="shp0" d="M132.96 280.29C122.01 279.63 113.68 270.22 114.34 259.28C114.68 253.77 117.23 248.92 121.08 245.55C126.15 241.1 128.89 235.44 129.33 228.71L130.18 215.98C130.56 210.27 144 211.18 143.62 216.79L142.78 229.52C142.33 236.26 144.44 242.21 148.94 247.23C152.36 251.05 154.31 256.17 153.97 261.68C153.31 272.62 143.9 280.95 132.96 280.29" />
              <path id="path2762" fill-rule="evenodd" class="shp0" d="M5.69 165.64C4.4 154.75 12.19 144.89 23.07 143.6C28.56 142.96 33.78 144.61 37.78 147.8C43.06 152.01 49.1 153.7 55.81 152.95L68.49 151.53C74.18 150.89 75.66 164.28 70.07 164.91L57.39 166.33C50.68 167.08 45.2 170.2 41.05 175.53C37.9 179.56 33.21 182.39 27.72 183.03C16.84 184.32 6.97 176.53 5.69 165.64Z" />
              <path id="path2764" fill-rule="evenodd" class="shp0" d="M181.24 59.33C190.99 64.36 194.82 76.33 189.8 86.07C187.26 90.98 182.97 94.39 178.09 95.92C171.65 97.94 166.87 102.01 163.74 107.99L162.36 110.63C159.71 115.7 147.78 109.44 150.39 104.46L151.77 101.82C154.89 95.84 155.37 89.55 153.27 83.13C151.69 78.26 151.97 72.79 154.5 67.89C159.53 58.14 171.5 54.31 181.24 59.33" />
              <path id="path2766" fill-rule="evenodd" class="shp0" d="M200.7 221.68C192.19 228.6 179.69 227.31 172.77 218.8C169.29 214.52 167.89 209.22 168.44 204.14C169.17 197.43 167.36 191.41 163.13 186.15L161.26 183.83C157.68 179.37 168.19 170.95 171.71 175.33L173.58 177.65C177.81 182.91 183.38 185.87 190.1 186.52C195.19 187.02 200.1 189.47 203.58 193.76C210.49 202.27 209.2 214.77 200.7 221.68" />
              <path id="path2768" fill-rule="evenodd" class="shp0" d="M79.87 225.49C71.16 218.84 69.48 206.38 76.13 197.66C79.47 193.27 84.3 190.67 89.37 190.01C96.06 189.15 101.48 185.97 105.61 180.63L107.43 178.28C110.92 173.75 121.57 181.99 118.14 186.44L116.32 188.8C112.19 194.14 110.63 200.26 111.57 206.94C112.28 212.01 111.04 217.35 107.7 221.74C101.05 230.46 88.59 232.13 79.87 225.49" />
              <path id="path2770" fill-rule="evenodd" class="shp0" d="M123.54 161.23C134.34 161.23 143.15 152.42 143.15 141.62C143.15 130.81 134.34 122 123.54 122C112.73 122 103.92 130.81 103.92 141.62C103.92 152.42 112.73 161.23 123.54 161.23Z" />
            </g>
            <path id="path2772" fill-rule="evenodd" class="shp4" d="M192.89 198.64C192.89 203.27 188.24 207.85 182.5 208.85C176.76 209.86 172.1 206.92 172.1 202.29C172.1 197.65 176.76 193.08 182.5 192.07C188.24 191.07 192.89 194.01 192.89 198.64ZM138.78 249.92C138.78 254.55 134.12 259.13 128.38 260.13C122.64 261.14 117.98 258.2 117.98 253.57C117.98 248.93 122.64 244.36 128.38 243.35C134.12 242.35 138.78 245.29 138.78 249.92ZM86.32 193.73C92.06 192.72 96.71 195.66 96.71 200.29C96.71 204.93 92.06 209.5 86.32 210.51C80.57 211.51 75.92 208.57 75.92 203.94C75.92 199.31 80.57 194.73 86.32 193.73ZM40.47 210.93C40.47 215.56 35.81 220.13 30.07 221.14C24.33 222.15 19.67 219.21 19.67 214.57C19.67 209.94 24.33 205.37 30.07 204.36C35.81 203.35 40.47 206.29 40.47 210.93ZM30.31 153.97C30.31 158.61 25.65 163.18 19.91 164.19C14.17 165.19 9.51 162.25 9.51 157.62C9.51 152.99 14.17 148.41 19.91 147.41C25.65 146.4 30.31 149.34 30.31 153.97ZM25.5 89.98C25.5 94.61 20.84 99.19 15.1 100.19C9.36 101.2 4.7 98.26 4.7 93.63C4.7 88.99 9.36 84.42 15.1 83.41C20.84 82.41 25.5 85.35 25.5 89.98ZM74.97 33.03C80.72 32.02 85.37 34.96 85.37 39.59C85.37 44.23 80.72 48.8 74.97 49.81C69.23 50.81 64.58 47.87 64.58 43.24C64.58 38.61 69.23 34.04 74.97 33.03ZM129.09 132C129.09 136.63 124.44 141.2 118.69 142.21C112.95 143.22 108.3 140.28 108.3 135.64C108.3 131.01 112.95 126.44 118.69 125.43C124.44 124.42 129.09 127.36 129.09 132ZM234.13 53.94C239.88 52.94 244.53 55.88 244.53 60.51C244.53 65.14 239.88 69.71 234.13 70.72C228.39 71.73 223.74 68.79 223.74 64.16C223.74 59.52 228.39 54.95 234.13 53.94ZM178.01 65.54C178.01 70.17 173.35 74.74 167.61 75.75C161.87 76.76 157.21 73.82 157.21 69.19C157.21 64.55 161.87 59.98 167.61 58.97C173.35 57.97 178.01 60.91 178.01 65.54ZM132.64 2.73C138.38 1.72 143.03 4.66 143.03 9.29C143.03 13.93 138.38 18.5 132.64 19.51C126.89 20.51 122.24 17.57 122.24 12.94C122.24 8.31 126.89 3.73 132.64 2.73ZM251.03 205.61C251.03 210.24 246.37 214.82 240.63 215.82C234.89 216.83 230.24 213.89 230.24 209.26C230.24 204.62 234.89 200.05 240.63 199.04C246.37 198.04 251.03 200.98 251.03 205.61ZM257.18 119.23C257.18 123.87 252.52 128.44 246.78 129.45C241.04 130.46 236.38 127.51 236.38 122.88C236.38 118.25 241.04 113.68 246.78 112.67C252.52 111.66 257.18 114.6 257.18 119.23Z" />
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a aria-expanded="false" class="btn btn-outline-secondary">
            Level: 
          </a>
          <% 9.times do |i| %>
            <%= link_to "#{i + 1}", virus_index_path(level: i + 1) , class: "btn lvl-indicator"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row " style="margin-top: 24px;">
    <div class="col card-columns d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title count_var_title">How many times clicked:</h5>
          <div id="counter" class="card-text count_var"><%=@virus_hp%></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title count_var_title">Seconds</h5>
          <span class="count_var">
          <span class="card-text minutes" id="minutes">00</span>:<span class="card-text seconds" id="seconds">00</span>
          </span>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col card-columns d-flex justify-content-center">
    <div id='send_score_form'>
      <%= simple_form_for Record.new do |f| %>
        <%= f.input :username %>
        <%= f.input :score, readonly: true %>
        <%= f.input :level, input_html: { value: @level }, readonly: true, as: :hidden %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
</div>
<script>
  var firstClickTime = null;
  var lastClickTime = null;
  var spendedTime = 0;
  
  var secondCounter = 0;
  var clickCounter = $('#counter').html()
  
  function pad(val) {
    var valString = val + "";
    if (valString.length < 2) {
      return "0" + valString;
    } else {
      return valString;
    }
  }
  
  let interval = setInterval(updateTime, 1000);
  
  function updateTime(){
    if($('#counter').html() > 0) {
      // console.log('update', $('#counter').html() > 0)
      $("#seconds").html(pad(++secondCounter%60));
      $("#minutes").html(pad(parseInt(secondCounter/60,10)));
    }
    return clearInterval(interval)
  }
  
  $('#virus').one('click', function(e) {
    // console.log('only once')
    setInterval(updateTime, 1000);
  })
  
    $("#virus").click(function(event) {
      if (firstClickTime == null) {
          firstClickTime = event.timeStamp;
      }
  
      $("#counter").html(function(i, val) {
  
        if (val>0) {
          if (val==1) {
            lastClickTime = event.timeStamp;
            spendedTime = lastClickTime - firstClickTime;
            $("#record_score").val(spendedTime.toFixed(3));
            $('.app .row').hide();
            $('#send_score_form').show();
          }
          return val-1;
        }
      });
    });
  
    $(document).ready(function (e) {
      // var startAngle = 0;
      var startAngle = 0;
      var unit = 215;
      var timer_started = false;
      $('#send_score_form').hide();
    });
</script>
