<table>
  <tr>
    <th> # </th>
    <th> Username </th>
    <th> Score </th>
    <th> Date </th>
  </tr>
  <% @records.each_with_index do |r, i| %>
    <tr>
      <td> <%= i + 1 %> </td>
      <td> <%= r.username %> </td>
      <td> <%= r.score %> </td>
      <td> <%= r.created_at %> </td>
    </tr>
  <% end %>
</table>

<% if @record.present? %>
  <%= link_to "Donate", controller: "donation", action: "index", value: @record.score %>
<% end %>
