<div class="row">
<div class="col card-columns d-flex justify-content-center">
<table class="styled-table table-hover">
  <thead>
    <tr>
      <th> <span id="easter_url">#</span> </th>
      <th> Username </th>
      <th> Score </th>
      <th> Date </th>
    </tr>
  </thead>
  <tbody>
    <% @records.each_with_index do |r, i| %>
      <tr>
        <td> <%= i + 1 %> </td>
        <td> <%= r.username %> </td>
        <td> <%= r.score %> </td>
        <td> <%= r.created_at %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<% if @record.present? %>
  <%= link_to "Donate", donation_index_path(value: @record.score), class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
  $("#easter_url").click(function(event) {
    window.open("https://mondido.com", '_blank');
  });

  var pressed = []
  var secretCode = 'mondido';
  var konamiCode = '38,38,40,40,37,39,37,39,66,65';
  var secretCode3 = 'musikhjälpen';
  window.addEventListener('keyup', (e) => {
    pressed.push(e.key.toLowerCase())
    pressed.splice(-secretCode.length - 1, pressed.length - secretCode.length)
    if(pressed.join('').includes(secretCode)) {
      console.log('Correct!', pressed)
    }
  })

</script>
