<div class="container">
  <div class="row">
    <div class="col card card-columns d-flex justify-content-center">
      <h1 class="card-title d-flex justify-content-center ">Scoreboard: </h1>
      <table class="styled-table table-hover">
        <thead>
          <tr>
            <th> <span id="easter_url">#</span> </th>
            <th> Username </th>
            <th> Score </th>
            <th> Date </th>
          </tr>
        </thead>
        <tbody>
          <% @records.each_with_index do |r, i| %>
            <tr>
              <td> <%= i + 1 %> </td>
              <td> <%= r.username %> </td>
              <td> <%= r.score %> </td>
              <td> <%= r.created_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @record.present? %>
      <% end %>
      <div class="card-body why_vk ">
        <h4 class="card-title d-flex justify-content-center">Why Virus Killer exists</h4>
        <h5 class="card-text">VirusKiller4000 is a Hackathon Project created by Jonathan, Sasha, Volodymyr and Modi at Mondido Platforms
        to raise awareness and donations for Musikhjälpen, year 2020, with the theme of "No human should be left without [health] care"
        </h5>
      </div>
      <div class="card-body  d-flex justify-content-center ">
        <a href="https://bossan.musikhjalpen.se/mondido" class="btn btn-outline-primary" target="_blank" style="margin: 4px 8px;">Pledge!</a>
        <%= link_to "Kill more viruses!", root_path, class: "btn btn-primary", style: 'margin: 4px 8px' %>
      </div>
    </div>
  </div>
</div>
<audio id="easter" src="sounds/wow.wav"></audio>

<script type="text/javascript">
  $("#easter_url").click(function(event) {
    window.open("https://mondido.com", '_blank');
  });
  
  var pressed = []
  var secretCode = 'mondido';
  var otherPressed = []
  // var konamiCode = '38,38,40,40,37,39,37,39,66,65';
  var secretCode3 = 'musikhjälpen';
  var audio = document.getElementById('easter')
  window.addEventListener('keyup', (e) => {
    pressed.push(e.key.toLowerCase())
    otherPressed.push(e.key.toLowerCase())
    otherPressed.splice(-secretCode3.length - 1, otherPressed.length - secretCode3.length)
    pressed.splice(-secretCode.length - 1, pressed.length - secretCode.length)
    if(pressed.join('').includes(secretCode) || otherPressed.join('').includes(secretCode3)) {
      audio.currentTime = 0 //rewinds to beginning for spamming
      audio.play()
    }
  })


</script>
